.uploadDialog {
  position: fixed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #aaaaaa;
}

.uploadDialogHidden {
  display: none;
}
